<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35222755716-lnpi7om50fo4liidp7pisg49f1gg0ovu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35222755716-lnpi7om50fo4liidp7pisg49f1gg0ovu</string>
	<key>API_KEY</key>
	<string>AIzaSyClgkg0GnP9MyAQQ6Tw1tt_R-JvDoeJs24</string>
	<key>GCM_SENDER_ID</key>
	<string>35222755716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crpatil1901.MedSwiftiOS</string>
	<key>PROJECT_ID</key>
	<string>pbl23-70059</string>
	<key>STORAGE_BUCKET</key>
	<string>pbl23-70059.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35222755716:ios:00b2e348a970784418a5d1</string>
</dict>
</plist>