<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512908320957-mudshtc3l0i6g4kl8ei9fsaffqngc79s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512908320957-mudshtc3l0i6g4kl8ei9fsaffqngc79s</string>
	<key>API_KEY</key>
	<string>AIzaSyDY4fHK5IEtaDQf3N-FrjB8dhJZhru0ZNU</string>
	<key>GCM_SENDER_ID</key>
	<string>512908320957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crpatil1901.MedSwiftiOS</string>
	<key>PROJECT_ID</key>
	<string>hehehehehe-f1b43</string>
	<key>STORAGE_BUCKET</key>
	<string>hehehehehe-f1b43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512908320957:ios:778beaf406e930350f57d4</string>
</dict>
</plist>